.row.row--features {
	// background: $background;
	// background-color: rgba(0,255,0,0.5);
	// height: 755px;
	margin-bottom: 50px;
	overflow: hidden;

	@include respond-min($r_tablet) {
		margin-bottom: 70px;
	}
	// @include respond-min($r_desktop) {
	// 	// height: 736px;
	// 	// position: relative;
	// }

	h2.row-title {
		font-family: 'Maison Neue', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		@include respond-min($r_desktop) {
			font-size: 34px;
			margin-top: 110px;
			letter-spacing: 2px;
		}
	}

	p.row-body {

		@include respond-min($r_desktop) {
			// background-color: rgba(255,0,0,0.5);
			margin-left: 0;
			text-align: left;
			width: 100%;
			margin-top: 5px;
			font-size: 21px;
		}

	}
	
	.feature-holder {
		margin-top: 30px;
		@include respond-min($r_desktop) {
			margin-top: 65px;
		}


		.feature {
			// background-color: rgba(255,0,0,0.5);
			margin-bottom: 33px;
			position: relative;
			overflow: hidden;

			cursor: pointer;

			@include respond-min($r_tablet) {
				min-height: 95px;
			}
			@include respond-min($r_desktop) {
				width: 450px;
				display: inline-block;
				vertical-align: top;
				min-height: 140px;
				margin-bottom: 106px;

				&:nth-child(odd) {
					margin-right: 70px;
				}
			}




			.icon {
				background-image: url('#{$img}feature-icon-outline.png');
				background-size: 100% auto;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				width: 72px;
				left: 5px;
				top: 16px;
				height: 72px;
				position: absolute;

				@include vp(transition, background-image 0.4s);
				@include respond-min($r_desktop) {
					left: 0;
					width: 110px;
					height: 110px;
				}


				.icon-inner {
					background-size: 100% auto;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					width: 34px;
					height: 34px;
					margin-left: 20px;
					margin-top: 20px;

					@include vp(transition, all 0.4s);


					@include respond-min($r_desktop) {
						width: 50px;
						height: 50px;
						margin-left: 30px;
						margin-top: 30px;
					}

				}
			}

			.title {
				margin-left: 98px;
				color: $color_light;
				font-size: 26px;
				margin-top: 19px;
				@include respond-min($r_desktop) {
					margin-left: 140px;
					margin-top: 24px;
					font-size: 29px;
				}
			}

			.text {
				color: $color_light;
				margin-left: 98px;
				font-weight: 100;
				margin-top: 10px;
				line-height: 25px;
				font-size: 13px;
				width: 186px;

				@include respond-min($r_tablet) {
					width: 500px;
				}
				@include respond-min($r_desktop) {
					margin-left: 140px;
					font-size: 15px;
					line-height: 28px;
					margin-top: 15px;
					width: 300px;
				}

			}

			&:hover {
				.icon {
					background-image: url('#{$img}feature-icon-outline-hover.png');
					.icon-inner {
						@include vp(transform, scale(1.1, 1.1))
					}
				}
			}

			&--one {
				.icon {
					.icon-inner {
						background-image: url('#{$img}feature-shop.png');
					}
				}
			}
			&--two {
				.icon {
					.icon-inner {
						background-image: url('#{$img}feature-transparency.png');
					}
				}
			}
			&--three {
				.icon {
					.icon-inner {
						background-image: url('#{$img}feature-sentiment.png');
					}
				}
			}
			&--four {
				.icon {
					.icon-inner {
						background-image: url('#{$img}feature-gamification.png');
					}
				}
			}
			
			//page 2
			&--five {
				.icon {
					.icon-inner {
						background-image: url('#{$img}feature-api.png');
					}
				}
			}
			&--six {
				.icon {
					.icon-inner {
						background-image: url('#{$img}feature-profiles.png');
					}
				}
			}
			&--seven {
				.icon {
					.icon-inner {
						background-image: url('#{$img}feature-insight.png');
					}
				}
			}
			&--eight {
				.icon {
					.icon-inner {
						background-image: url('#{$img}feature-copy.png');
					}
				}
			}
		}
	}
	
}