.row.row--hero {
	// background: $background;
	// background-color: rgba(0,255,0,0.5);
	height: 590px;
	overflow: hidden;

	h2 {
		color: $color_light;
		margin-top: 120px;
		@include respond-min($r_tablet) {
			margin-top: 80px;
		}
		@include respond-min($r_desktop) {
			margin-top: 78px;
		}


		span {
			display: block;
			text-align: center;
			font-family: 'gnuolaneregular',  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-size: 50px;
			letter-spacing: 9px;
			padding-left: 10px;
			margin-bottom: 8px;
			text-transform: uppercase;

			@include respond-min($r_tablet) {
				font-size: 70px;
			}
			@include respond-min($r_desktop) {
				font-family: 'Maison Neue', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
				font-size: 72px;
				text-transform: none;
				text-align: left;
				margin-bottom: 0;
				margin-left: -6px;
				letter-spacing: 1px;
				line-height: 68px;
			}
		}
	}

	h3 {
		color: $color_light;
		text-align: center;
		font-size: 20px;
		margin-top: 22px;

		@include respond-min($r_tablet) {
			font-size: 22px;
		}

		@include respond-min($r_desktop) {
			text-align: left;
			margin-top: 53px;
			margin-left: 4px;
			font-family: 'Maison Neue Mono',  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		}

	

	}

	.get-started {
		margin-top: 136px;
		margin-left: 18px;


		@include respond-min($r_tablet) {
			margin-top: 93px;
			margin-left: 190px;
		}

		@include respond-min($r_desktop) {
			margin-top: 123px;
			margin-left: 30px;
		}
	}
}