.row.row--info-block {
	// background: $background;
	// background-color: rgba(0,255,0,0.5);
	// height: 590px;
	// overflow: hidden;
	border-bottom: 1px solid $color_grey;
	padding-bottom: 50px;
	@include respond-min($r_desktop) {
		// padding-bottom: 50px;
	}

	// // margin-bottom: 50px;
	
	h3 {
		color: $color_light;
		// font-family: 'Maison Neue Mono',  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	    font-family: 'gnuolaneregular', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		margin-top: 70px;
		// margin-left: 26px;
		font-size: 30px;
		letter-spacing: 4px;
		text-align: center;

		@include respond-min($r_desktop) {
			margin-top: 100px;
			font-size: 50px;
			font-weight: 100;
			letter-spacing: 7px;
		}

	}

	p {
		color: $color_light;
		font-weight: 100;
		// text-align: center;
		line-height: 30px;
		margin-top: 50px;
		margin-bottom: 50px;

		.color-gold {
			color: $color_gold;
			text-decoration: underline;
		}

		@include respond-min($r_tablet) {
			display: inline-block;
			vertical-align: middle;
			width: 400px;
		}
		@include respond-min($r_desktop) {
			margin-left: 105px;
			margin-top: -8px;
			font-size: 20px;
			width: 480px;
			margin-bottom: 90px;
			line-height: 38px;
			letter-spacing: 0.7px;
			vertical-align: top;
		}

	}

	.image {
		display: none;

		@include respond-min($r_tablet) {
			display: inline-block;
			vertical-align: middle;
			float: right;
			margin-top: 15px;
			width: 150px;
			height: 150px;

			img {
				width: 100%;
			}
		}
		@include respond-min($r_desktop) {
			vertical-align: top;
			margin-top: -25px;
			width: 155px;
			height: 155px;
			margin-right: 130px;
		}
	}

	.full-block {
		border: 1px dashed $color_light;

		color: $color_light;
		font-weight: 100;
		font-size: 14px;
		text-align: center;
		padding: 20px;
		line-height: 28px;
		
		@include respond-min($r_tablet) {
			margin-top: 50px;
		}
		@include respond-min($r_desktop) {
			margin-top: -20px;
			margin-left: 100px;
			margin-right: 100px;
			font-size: 22px;
			padding-top: 32px;
			padding-bottom: 32px;
			line-height: 38px;
		}
	}

	.onward-link {
		margin-top: 30px;
		margin-left: 20px;

		@include respond-min($r_tablet) {
			margin-top: 50px;
		}
		@include respond-min($r_desktop) {
			margin: 0 auto;
			margin-top: 38px;
			display: block;
			width: 230px;
		}
	}

}