.row.row--text-image {
	padding-bottom: 150px;
	border-bottom: 1px solid $color_grey;
	// background-color: rgba(255,0,0,0.5);

	.row-inner {
		padding-left: 30px;
	}

	&.no-notch {
		@include respond-min($r_desktop) {
			.row-inner {
				padding-left: 0;

				.block {
					p {
						line-height: 33px;
						position: relative;
						span.mono {
							margin-left: 20px;
							font-size: 16px;
							font-family: 'Maison Neue Mono',  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
							position: absolute;
							left: 104px;
							width: 200px;
						}
					}
				}
				.onward-link {
					margin-top: 183px;
					margin-left: 25px;
				}
			}
			padding-bottom: 55px;
		}

	}

	

	h2.row-title {
		@include respond-min($r_desktop) {

			margin-top: 160px;

		}
	}

	.block {
		// background-color: rgba(0,255,0,0.5);
		margin-bottom: 110px;
		@include respond-min($r_desktop) {
			margin-bottom: 155px;
		}

		&.text-only {
			@include respond-min($r_desktop) {
				margin-bottom: 155px;
			}
			p {
				@include respond-min($r_desktop) {
					width: 100%;
				}
			}

		}

		h3 {
			color: $color_light;
   			font-family: 'gnuolaneregular',  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   			letter-spacing: 5px;
			@include respond-min($r_desktop) {
				font-size: 34px;
			}
		}

		p {
			font-weight: 100;
			color: $color_light;
			font-size: 16px;
			line-height: 30px;
			margin-top: 30px;
			// @include respond-min($r_tablet) {
			// 	margin-left: 12px;
			// }
			@include respond-min($r_desktop) {
				margin-top: 23px;
				font-size: 22px;
				margin-left: 0;
				line-height: 40px;
				width: 506px;
				display: inline-block;
				vertical-align: top;
			}
		}

		&.large-image {
			@include respond-min($r_desktop) {

				p {
					width: 390px;
				}

				.image {
					width: 519px;
					margin-left: 40px;
					@include vp(transform, translate(53px, -40px));
				}
			}
		}
	}


	.image {

		@include respond-min($r_tablet) {
			padding-top: 50px;
		}

		@include respond-min($r_desktop) {
			display: inline-block;
			vertical-align: top;
			padding-top: 35px;
			width: 350px;
			margin-left: 106px;
				// float: right;
			
		}


		img {
			margin-top: 30px;
			width: 100%;

			@include respond-min($r_tablet) {
				width: 80%;
				display: block;;
				margin: 0 auto;
				@include respond-min($r_desktop) {
					width: 100%;
				}

			}

		}
	}

	.onward-link {
		// margin-left: 30px;
		margin-top: 30px;

		.circle-link {
			margin-left: 0;
		}
		@include respond-min($r_desktop) {
			// margin-left: 30px;
			margin-top: -65px;

			.circle-link {
				margin-left: 26px;
			}
		}
	}

	&.large-image {

		.block {
			margin-bottom: 70px;
		}

		.image {
			height: 230px;
			width: 610px;
			margin-top: 50px;
			@include respond-min($r_tablet) {
				height: 430px;
				margin-top: 30px;
			}
		}
		@include respond-min($r_desktop) {
			.block {
				margin-bottom: 114px;

				p {
					width: 230px;
					margin-top: 55px;
				}
			}

			.image {
				
				// background-image: url('#{$img}image-token-allocation.png');
				// background-size: 100% auto;
				// background-position: 50% 0;
				// background-repeat: no-repeat;
				width: 610px;
				float: right;
				margin-left: 0;
				margin-top: 25px;
				// height: 430px;
			}

			.onward-link {
				margin-top: 125px;
				margin-left: 0px;
			}
		}

	}
}