a.circle-link {
	text-decoration: none;
	position: relative;
	display: block;
	height: 50px;
	@include vp(transform, scale(0.8,0.8));

	@include respond-min($r_desktop) {
		height: 42px;
		@include vp(transform, scale(1,1));

	}
	.text {
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		position: relative;
		z-index: 2;
		letter-spacing: 3px;
	}


	.circle {
		background-color: #666666;
		width: 50px;
		left: -25px;
		top: -18px;
		// opacity: 0.1;
		position: absolute;
		height: 50px;
		border-radius: 25px;
		z-index: 1;
		display: block;
	}

	.arrow {
		background-image: url('#{$img}text-arrow-right.png');
		background-size: 14px auto;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		position: absolute;
		// top: 2px;
		// left: 221px;
		    top: -3px;
	    left: 165px;
		z-index: 2;
	}


	&.long {
		.arrow {
			left: 265px;
		}
	}
	
}