a.circle-link {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	// background-color: rgba(0,0,255,0.5);
	font-size: 0;
	// font-size: 20px; // toggle gap size
	@include respond-min($r_desktop) {
		font-size: 5px;
	}


	span {
		display: inline-block;
		vertical-align: middle;
		padding-top: 13px;
		height: 40px;
		font-size: 14px;
		letter-spacing: 3.5px;
		font-weight: 500;

		@include respond-min($r_desktop) {
			padding-top: 24px;
			font-size: 16px;
			letter-spacing: 4.2px;
			height: 50px;
		}

		
		&.circle {
			// background-color: rgba(255,0,0,0.5);
			position: relative;
			
			.text {
				color: $background;
				position: relative;
				z-index: 10;
				@include respond-min($r_desktop) {
					color: $color_light;
				}
			}

			.inner-circle {
				background-color: $color_light;
				border-radius: 50%;
				height: 40px;
				margin-top: -20px;
				position: absolute;
				right: 0;
				top: 50%;
				width: 40px;
				z-index: 5;

				@include respond-min($r_desktop) {
					background-color: $background;
					width: 50px;
					height: 50px;

					@include vp(transition, all 0.7s);
				}

			}
			// text-align: right;

			&--only-hover {

				.text {
					color: $color_light;
				}
				.inner-circle {
					background-color: $background;
				}
				&:hover {

					.text {
						color: $background;
					}
					.inner-circle {
						background-color: $color_light;
					}
				}
			}
		}

		&.after-circle {
			color: $color_light;
			position: relative;

			.arrow {
				background-image: url('#{$img}text-arrow-right.png');
				background-size: 100% auto;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				display: block;
				position: absolute;
				width: 14px;
				right: -27px;
				height: 11px;
				top: 50%;
				margin-top: -5px;

				@include respond-min($r_desktop) {
					right: -36px;
				}

			}
		}
	}

	&:hover {
		text-decoration: underline;

		@include respond-min($r_desktop) {
			span {
				&.circle {
					.text {
						color: $background;
					}
					.inner-circle {
						background-color: $color_light;
					}
				}
			}
		}

	}
}